.navbar-brand {
    font-weight: 500;
}

.index-banner {
    background-color: #212529;
    color: white;
    height: 100vh;
}

.zumo {
    font-size: 100px;
    font-weight: 500px;
    background: #FF479D;
background: repeating-linear-gradient(to right, #FF479D 0%, #36D0FF 50%, #FFC21C 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}