{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h2 class="mb-3">History Page</h2>
<h2 class="mb-3">Portfolio of stocks</h2>
<table style="width: 100%">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for item in history %}
        <tr>
            <td>{{ item.symbol }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.shares }}</td>
            <td>${{ '{:.2f}'.format(item.price) }}</td>
            <td>${{ '{:.2f}'.format(item.total) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}