{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<h2 class="mb-3">Portfolio of stocks</h2>
<table style="width: 100%">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
    </thead>
    <tbody>
        {% for item in buy_histories %}
        <tr>
            <td>{{ item.symbol }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.shares }}</td>
            <td>${{ '{:.2f}'.format(item.price) }}</td>
            <td>${{ '{:.2f}'.format(item.total) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div style="display: grid; width: 100%; padding: 20px 50px; justify-items: right; font-weight: 700;">
    <div>Cash ${{cash}}</div>
    <div style="color: gray">Cash ${{cash_with_deposite}}</div>
    <div>TOTAL ${{total}}</div>
    <div style="color: gray">total ${{total_with_deposite}}</div>
</div>
{% endblock %}