{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2 class="mb-3">Index Page</h2>
    <h2 class="mb-3">portfolio of stocks (in progess)</h2>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ symbol }}</td>
                <td>{{ name }}</td>
                <td>{{ shares }}</td>
                <td>{{ current_price }}</td>
                <td>{{ total_price }}</td>
            </tr>
        </tbody>
    </table>
    <div>Cash {{valid_cash}}</div>
    <div>TOTAL </div>
{% endblock %}